/*Main Background*/
    
body{
    --Primary-Light-bg: #f9f5f2;
    --Footer-Border: #dcd4c9;
    --Example-Block-bg: #f3e9e2;
    --Body-Text: #4a341c;
    --Chart-bg: #efeae2;
    --Note-bg: linear-gradient(45deg,#edd3df, #f5cfe1);
    --Italics: #100b06;
    --Start-Button:  #95e773;
    --Start-Button-hover: radial-gradient(#95e773,#6de593);
        
    --Readability: 700px;
}
    
element {
    background-color: var(--Primary-Light-bg) !important
}

body > main:nth-child(2) > div:nth-child(1) {
    background-color: var(--Primary-Light-bg) !important;
}

main {
    background: var(--Primary-Light-bg) !important;
}

/*Bottom*/
footer {
  border-top: 3px var(--Footer-Border) double;
  background: var(--Primary-Light-bg) !important;
}

/*Top*/
.breadcrumbs {
  padding: 1em;
  background: var(--Primary-Light-bg);
}

/*Example Blocks*/
.examples {
    background: var(--Example-Block-bg);
}

/*Body Text*/
:root {
--body-color: var(--Body-Text);
}

/*Width of Artical*/
.readable {
max-width: var(--Readability);
}


.part2 {
    background: var(--Chart-bg);
}

/*Stems Charts*/
.paradigm {
  background: var(--Chart-bg);
}

/*Note Block*/
.note {
    background: var(--Note-bg) !important;

}

/* Start Button*/
.call-to-action {
    background: var(--Start-Button) !important;
}
.call-to-action:hover {
    background: var(--Start-Button-hover) !important;
}


/*Italics*/
em {
	color: var(--Italics) !important;
    
}

/*Links below the banner*/
.pa2 {
    a {
        color: #22739b;

    }
    a:hover {
        color: #26ba67;
}

    a:visited {
        color: #35a3da;
    }
    
}

}
